terraform {
  backend "s3" {
    bucket         = "replace-with-terraform-state-bucket"
    key            = "blockticket/dev/terraform.tfstate"
    region         = "ap-southeast-1"
    dynamodb_table = "replace-with-terraform-lock-table"
    encrypt        = true
  }
}
